<div id="announcement-content">
	<p class="announcement-title">Яким ти будеш після нашого курсу</p>
	<div class="announcement-card-wrapper">
		<div class="photo-block">
			<img class="card-photo" src="../assets/announcementPhoto1.svg" alt="#" />
			<p class="photo-caption" style="color: black;">Немає машини</p>
		</div>
		<div class="photo-block">
			<img class="card-photo" src="../assets/announcementPhoto2.svg" alt="#" />
			<p class="photo-caption">Популярність</p>
		</div>
		<div class="photo-block">
			<img class="card-photo" src="../assets/announcementPhoto3.svg" alt="#" />
			<p class="photo-caption">Розвиток</p>
		</div>
		<div class="photo-block">
			<img class="card-photo" src="../assets/announcementPhoto4.svg" alt="#" />
			<p class="photo-caption">Нова команда</p>
		</div>
	</div>
	<div class="announcement-button-wrapper">
		<button data-modal class="announcement-button">Замовити курс</button>
	</div>
</div>
