<button id="menu-open-btn">
	<p class="menu-open-btn-text">Меню</p>
</button>

<div class="menu">
	<p>Ссылки:</p>
	<ul>
		<li><a class="menu-link" href="#slide-section">Вирішуй проблеми</a></li>
		<li><a class="menu-link" href= "#our-graduates">Наші випускники</a></li>
		<li><a class="menu-link" href="#announcement-content">Яким ти будеш</a></li>
		<li><a class="menu-link" href="#our-pride-content">Наша гордість</a></li>
		<li><a class="menu-link" href="#form-section">Потрібна допомога?</a></li>
		<li><a class="menu-link" href="#Slogan_rectangle">Улюблений жарт</a></li>
	</ul>
</div>
