<div id="our-graduates">
	<p class="our-graduates-title">Наші випускники</p>
	<div class="our-graduates-cards-wrapper">
		<div class="our-graduates-cards">
			<div class="card">
                <img class="card-photo" src="../assets/ourGraduatesPhoto1.svg" alt="#" />
				<p class="card-title">Працює у великому проекті</p>
			</div>
			<div class="card">
                <img class="card-photo" src="../assets/ourGraduatesPhoto2.svg" alt="#" />
				<p class="card-title">Займається розробкою delivery-of-bottles технології</p>
			</div>
			<div class="card">
				<img class="card-photo" src="../assets/ourGraduatesPhoto3.svg" alt="#" />
				<p class="card-title">Просто крутий хлопака</p>
			</div>
		</div>
	</div>
</div>
