* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    font-family: sans-serif;
}

.page-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.step-back-btn {
    position: absolute;
    top: 1.2rem;
    left: 1.5rem;
    background-color: transparent;
    border: none;
    font-size: 3rem;
}

.about-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.about-photo-wrapper {
    display: flex;
    justify-content: center;
}

.about-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-card-photo {
    border-radius: 50%;
    width: 250px;
    height: 250px;

}

.about-card-name {
    text-align: center;
}

.about-card-desc {
    width: 300px;
}

.about-card-photo:hover {
    animation-name: imgRotateAnim;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes imgRotateAnim {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}