#form-section {
    background-image: url('../img/FormBG.png');
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    padding: 8rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.align-form {
    display: flex;
    justify-content: center;
}

.auth{
    padding: 80px 0px 20px;
    width: 782px;
    height: 586px;
    background-color: rgba(100, 100, 100, 0.6);
    border-radius: 30px;
    border: solid 1px cornflowerblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}
.auth-title{
    margin: 0 0 15px;
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 75px;
}
.form-group{
    margin-bottom: 15px;
}

/*input*/

.input{
    color: #000000;
    display: block;
    width: 400px;
    height: 50px;
    font-size: 1.7rem;
    padding: 8px 10px;
    border: 1px solid rgb(31, 31, 31);
    font-family: inherit;
    background-color: rgb(63, 63, 63, 0);
    margin-bottom: 25px;
    border-radius: 5px;
}
.input:focus{
    outline: 0;
    border-color: #2c93e7;
}

.input::placeholder {
    color: #313131;
}

/*select*/

.select {
    color: #313131;
    display: block;
    width: 260px;
    height: 55px;
    font-size: 1.7rem;
    padding: 8px 10px;
    border: 1px solid rgb(31, 31, 31);
    font-family: inherit;
    background-color: rgb(63, 63, 63, 0);
    margin-bottom: 30px;
    border-radius: 5px;
}
.select:focus{
    outline: 0;
    border-color: #2c93e7;
}
.checkbox{
    background-color: #8d8d8d;
    accent-color: #2c93e7;
    width: 25px;
    height: 25px;
}

.btn{
    font-family: inherit;
    color: #121212;
    font-size: 1.7rem;
    display: block;
    width: 400px;
    padding: 10px;
    border: 0;
    background-color: #2c93e7;
    margin: 20px 0px 50px;
    border-radius: 15px;
    transition: all 0.5s ease;
}
.btn:focus{
    outline: 0;
}
.btn:hover,
.btn:focus{
    background-color: #1e659e;
    cursor: pointer;
}
.btn:active{
    background-color: #123f64
}

.link{
    text-align: center;
    color: #46acff;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal__dialog {
    max-width: 500px;
    margin: 40px auto;
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: rgb(255, 255, 255, 0.9);
    border: 2px solid #549fd8;
    border-radius: 8px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
}

.modal .btn {
    display: block;
    width: 280px;
    margin: 0 auto;
}

.show {
    display: block;
    animation-name: opacityShow;
    animation-duration: 0.7s;
}

@keyframes opacityShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hide {
    display: none;
}
