.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
  font-family: 'Roboto';
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

.logo {
  margin: 10px 0px 10px 10px;
  width: 136px;
  height: 144px;
}

.header-text {
  

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: center;
  margin: 0px;

  color: #000000;
}

.under-header-text {

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;

  color: #8E8E8E;
}

.header-link {
  position: absolute;
  right: 5%;

  width: 316px;
  height: 35px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-decoration: none;

  color: #000000;

}

.header-link:hover {
  text-decoration: underline;
}

.strip {
  height: 20px;
  width: 100%;
  background-color: #1f91cf;
}

