#our-graduates {
    font-family: 'Roboto', sans-serif;

    padding: 8rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    background-image: url(../assets/backgroundOurGraduates.svg);
}

.our-graduates-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.our-graduates-cards-wrapper {
    display: flex;
    justify-content: center;
}

.our-graduates-cards {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    transition: all 200ms ease;
}

.card:hover {
    position: relative;
    transform: scale(1.2);
}

.card-title {
    font-weight: bold;
    font-size: 1.4rem;
    width: 367px;
    padding-left: 20px;
}

.card-photo {
    width: 400px;
    height: 250px;
    /* transition: all 0.5s ease; */
}

/* .card-photo {
    width: 450px;
    height: 280px;
} */
