#Slogan_rectangle {
    background-color: #1f91cf;
    height: 659px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    text-align: center;
    padding: 130px 20px;

    color: #FFFFFF;
}

.slogan-header {
    text-shadow: 7px 3px 10px rgb(19, 19, 19);
}